<div class="main-div">
  <mat-card>
    <div class="container">
      <div class="login_welcome">BullMarket</div>
      <div><p class="bullmarket_def">
        A bull market is a market that is on the rise <br>
        and where the economy is sound; while a bear market <br>
        exists in an economy that is receding, where most <br>
        stocks are declining in value. <a href="https://www.investopedia.com/insights/digging-deeper-bull-and-bear-markets/#:~:text=A%20bull%20market%20is%20a,stocks%20are%20declining%20in%20value.">Source</a>
      </p></div>
      <div class="form-container">
        <form [formGroup]="loginForm" (submit)="submit()">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> E-mail
            </mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
              <span *ngIf="loginForm.controls.email.errors.required">This field is mandatory.</span>
              <span *ngIf="loginForm.controls.email.errors.pattern">This field is invalid.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> User Name
            </mat-label>
            <input matInput formControlName="userName" required>
            <mat-error *ngIf="loginForm.controls.userName.touched && loginForm.controls.userName.invalid">
              <span *ngIf="loginForm.controls.userName.errors.required">This field is mandatory.</span>
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="basic" type="submit">Log In</button>
        </form>
      </div>
      <div class="sign_up"> Don't have an account? <a routerLink="/signup">Sign up</a></div>
    </div>
  </mat-card>
</div>


