mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  margin-top: 10%;
  width: 60%;
}

.bullmarket_def{
  font-style: italic;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center
}

.form-container {
  width: 400px;
  margin: 30px auto 0px;
}

.form-field {
  display: block
}

.login_welcome {
  padding-top: 5%;
  font-size: 300%;
}

.sign_up {
  padding-top: 5%;
  font-size: 110%;
}
