table {
    width: 100%;
}

h1{
  text-align:center
}

h2{
  text-align:center
}

.sellButton{
  background-color: black;
  border: none;
  color: white;
}

.buyButton{
  background-color: black;
  border: none;
  color: white;
}