<h1>Investments</h1>
<hr>
<div>
  <table>
    <ng-container>
      <th> Investment </th>
      <td> UNKNOWN </td>
    </ng-container>
    <ng-container>
      <th> Ticker</th>
      <td> UNKNOWN </td>
    </ng-container>
    <ng-container>
        <th> Current Price </th>
        <td> UNKNOWN </td>
      </ng-container>
    <ng-container>
      <th> Purchase Price </th>
      <td> UNKNOWN </td>
    </ng-container>
    <ng-container>
      <th> Shares </th>
      <td> UNKNOWN </td>
    </ng-container>
    <ng-container>
      <th> Net </th>
      <td> UNKNOWN </td>
    </ng-container>
    <tr></tr>
    <tr></tr>
  </table>
</div>