<body>
<div class="container">
  <br>
  <div style="display: flex; justify-content: flex-end">
    <a *ngIf="userIsAuthenticated" style="font-size: 16px; text-align:right; color: black;" routerLink="/investment"> Investments|</a>
    <a *ngIf="userIsAuthenticated"  style="font-size: 16px; text-align:right; color: black;" routerLink="/profile">Profile|</a>
    <a *ngIf="userIsAuthenticated"  style="font-size: 16px; text-align:right; color: black;" (click)="onLogout()">Logout</a>
  </div>
  <div class="col-12">
    <a class="nav-link" style="font-size: 75px; font-family: Calibri, sans-serif; text-align:center;"
       routerLink="/home">MARKETPLACE</a>
  </div>
  <div *ngIf="userIsAuthenticated" class="markets"
       style="padding:1% 0 1% 0; border-top:6px solid black; border-bottom: 6px solid black;">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink="/bond-table">Bonds </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/commodity-table">Commodities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/currency-table">Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/realestate">Real Estate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/stock-table">Stocks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ticker-wrap">
          <div class="ticker">
            <div class="ticker__item">LUMBER ↓ <p style="display:inline; color:red">$15.77</p></div>
            <div class="ticker__item">FARMLAND ↑ <p style="display:inline; color:green">5,000 Acres</p></div>
            <div class="ticker__item">SILVER MINES ↓ <p style="display:inline; color: red">20 Mines</p></div>
            <div class="ticker__item">NEW LISTINGS: London, Bangkok, Sau Paolo</div>
            <div class="ticker__item">MSFT ↑ <p style="display:inline; color: green">$241</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
