<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--  <title>Material Design Bootstrap</title>-->

<!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">-->
<!--  <link rel="stylesheet" href="/stylesheets/bullmarket.css">-->
<!--  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">-->
<!--  <link rel="stylesheet" href="/stylesheets/mdb.min.css">-->
<!--  <link rel="stylesheet" href="/stylesheets/addons/mdb-vector-map.css">-->
<!--  <link rel="stylesheet" href="/stylesheets/style.min.css">-->
<!--</head>-->

<body>
<div class="container">
  <br>
  <div>
  <a *ngIf="!userIsAuthenticated" class="nav-link" style="font-size: 16px; text-align:right;" routerLink="/login">Login/Register</a>
  <a *ngIf="userIsAuthenticated" class="nav-link" style="font-size: 16px; text-align:right;"
     (click)="onLogout()">Logout</a>
  <a *ngIf="userIsAuthenticated" class="nav-link" style="font-size: 16px; text-align:right;"
     routerLink="/investment">Investments</a>
  </div>
  <a class="col-12" class="nav-link" style="font-size: 75px; font-family: Calibri, sans-serif; text-align:center;"
     routerLink="/home">MARKETPLACE</a>

  <div *ngIf="userIsAuthenticated" class="markets"
       style="padding:1% 0 1% 0; border-top:6px solid black; border-bottom: 6px solid black;">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink="/bonds">Bonds </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/commodities">Commodities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/currency">Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/realestate">Real Estate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/stock-table">Stocks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="ticker-wrap">
          <div class="ticker">
            <div class="ticker__item">LUMBER ↓ <p style="display:inline; color:red">$15.77</p></div>
            <div class="ticker__item">FARMLAND ↑ <p style="display:inline; color:green">5,000 Acres</p></div>
            <div class="ticker__item">SILVER MINES ↓ <p style="display:inline; color: red">20 Mines</p></div>
            <div class="ticker__item">NEW LISTINGS: London, Bangkok, Sau Paolo</div>
            <div class="ticker__item">MSFT ↑ <p style="display:inline; color: green">$241</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>


