<body>
<div class="container">
  <br>
  <div style="display: flex; justify-content: flex-end">
    <a *ngIf="userIsAuthenticated" style="font-size: 16px; text-align:right; color: black;" routerLink="/investment"> Investments|</a>
    <a *ngIf="userIsAuthenticated"  style="font-size: 16px; text-align:right; color: black;" routerLink="/profile">Profile|</a>
    <a *ngIf="userIsAuthenticated"  style="font-size: 16px; text-align:right; color: black;" (click)="onLogout()">Logout</a>
  </div>
  <div class="col-12" *ngIf="userIsAuthenticated">
    <a class="nav-link" style="font-size: 75px; font-family: Calibri, sans-serif; text-align:center;"
       routerLink="/home">MARKETPLACE</a>
  </div>
  <div *ngIf="userIsAuthenticated" class="markets"
       style="padding:1% 0 1% 0; border-top:6px solid black; border-bottom: 6px solid black;">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-fill">
          <li class="nav-item">
            <a class="nav-link" routerLink="/bond-table">Bonds </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/commodity-table">Commodities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/currency-table">Currency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/realestate">Real Estate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/stock-table">Stocks</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="userIsAuthenticated">
    <div class="row">
      <div class="col-12">
        <div class="ticker-wrap">
          <div class="ticker">
            <div class="ticker__item" *ngFor="let element of this.StockData" >
              <div *ngIf="element.price[element.price.length - 1] > element.price[element.price.length - 2]">
                <a style="color: white" [routerLink]="['/stock-page', element.symbol]"> {{element.symbol}} ↑ </a> <p style="display:inline; color:green">{{element.price[element.price.length - 1]}}</p>
              </div>
              <div *ngIf="element.price[element.price.length - 1] < element.price[element.price.length - 2]">
                <a style="color: white" [routerLink]="['/stock-page', element.symbol]"> {{element.symbol}} ↓ </a> <p style="display:inline; color: red">{{element.price[element.price.length - 1]}} </p>
              </div>
              <div *ngIf="element.price[element.price.length - 1] == element.price[element.price.length - 2]">
                <a style="color: white" [routerLink]="['/stock-page', element.symbol]"> {{element.symbol}} → </a> <p style="display:inline; color: grey">{{element.price[element.price.length - 1]}} </p>
              </div>
            </div>
            <div class="ticker__item" *ngFor="let element of this.currencyData" >
              <div *ngIf="element.rates[element.rates.length - 1] > element.rates[element.rates.length - 2]">
                <a style="color: white" [routerLink]="['/currency-page', element.ticker]"> {{element.ticker}} ↑ </a> <p style="display:inline; color:green">{{element.rates[element.rates.length - 1]}} </p>
              </div>
              <div *ngIf="element.rates[element.rates.length - 1] < element.rates[element.rates.length - 2]">
                <a style="color: white" [routerLink]="['/currency-page', element.ticker]"> {{element.ticker}} ↓ </a> <p style="display:inline; color: red">{{element.rates[element.rates.length - 1]}} </p>
              </div>
              <div *ngIf="element.rates[element.rates.length - 1] == element.rates[element.rates.length - 2]">
                <a style="color: white" [routerLink]="['/currency-page', element.ticker]"> {{element.ticker}} → </a> <p style="display:inline; color: grey">{{element.rates[element.rates.length - 1]}} </p>
              </div>
            </div>
            <div class="ticker__item" *ngFor="let element of this.commodityData" >
              <div *ngIf="element.etfPrice[element.etfPrice.length - 1] > element.etfPrice[element.etfPrice.length - 2]">
                <a style="color: white" [routerLink]="['/commodity-page', element.symbol]"> {{element.symbol}} ↑ </a> <p style="display:inline; color:green">{{element.etfPrice[element.etfPrice.length - 1]}} </p>
              </div>
              <div *ngIf="element.etfPrice[element.etfPrice.length - 1] < element.etfPrice[element.etfPrice.length - 2]">
                <a style="color: white" [routerLink]="['/commodity-page', element.symbol]"> {{element.symbol}} ↓ </a> <p style="display:inline; color: red">{{element.etfPrice[element.etfPrice.length - 1]}} </p>
              </div>
              <div *ngIf="element.etfPrice[element.etfPrice.length - 1] == element.etfPrice[element.etfPrice.length - 2]">
                <a style="color: white" [routerLink]="['/commodity-page', element.symbol]"> {{element.symbol}} → </a> <p style="display:inline; color: grey">{{element.etfPrice[element.etfPrice.length - 1]}} </p>
              </div>
            </div>
]          </div>
        </div>
      </div>
    </div>
  </div>

</div>
