<div>
    <mat-card class="stock-card">
      <div class="row">
        <div class="col-lg-12">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let investment of filteredInvestments | async" [value]="investment">
                  {{investment.name}}
                </mat-option>
              </mat-autocomplete>
            <mat-form-field appearance="outline">
            <mat-label>Investment</mat-label>
            <input matInput #investment type="text" [formControl]="myControl" [matAutocomplete]="auto" [ngModel]="investment.name">
          </mat-form-field>
        </div>
      </div>
      <hr>
        <div class="row">
          <div class="col-lg-8">
            <span>Price</span>
          </div>
          <div class="col-lg-4">
            <span>{{assetPrice}}</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-8">
            <span>Symbol: </span>
          </div>
          <div class="col-lg-4">
            <span>{{assetSymbol}}</span>
          </div>
        </div>
      <mat-card-actions class="align-middle">
        <hr>
        <div align="center">
          <button mat-button (click)="onClickSearch(investment.value, 1)">Search</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

