<br>
<h1>Investments</h1>
<hr>
<h3>Cash Balance: ${{cashValue}}     |     Investment Value: ${{investmentValue}}    |     Net: ${{netValue}}</h3>
<hr>
<br>
<div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Investment</th>
        <td mat-cell *matCellDef="let investment"> {{investment.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Ticker</th>
        <td mat-cell *matCellDef="let investment"> {{investment.symbol}} </td>
      </ng-container>
  
      <ng-container matColumnDef="shares">
        <th mat-header-cell *matHeaderCellDef>Shares</th>
        <td mat-cell *matCellDef="let investment"> {{investment.shares}} </td>
      </ng-container>
  
      <ng-container matColumnDef="currentPrice">
        <th mat-header-cell *matHeaderCellDef>Current Price</th>
        <td mat-cell *matCellDef="let investment"> {{investment.currentPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="purchasePrice">
        <th mat-header-cell *matHeaderCellDef>Purchase Price</th>
        <td mat-cell *matCellDef="let investment"> {{investment.purchasePrice}} </td>
      </ng-container>
  
      <ng-container matColumnDef="net">
        <th mat-header-cell *matHeaderCellDef>Net</th>
        <td mat-cell *matCellDef="let investment"> {{investment.net}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>