body {
  background-color: white;
  color: black;
  font-family: Calibri, sans-serif
}

.markets{
  margin-bottom: 5px;
}

.nav-link{
    background-color:white;
    color:black;
    font-family: Calibri, sans-serif;
    font-size:28px;
    font-weight: bold;
}

.nav-link:hover {
color:grey;
}

  
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(75%, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(75%, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-wrap {
    overflow: hidden;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .ticker-wrap .ticker {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
  }
  .ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: white;
  }
  
  body {
    padding-bottom: 5rem;
  }
  
  h1,
  h2,
  p {
    padding: 0 5%;
  }

  .symbolLink{
    color:white;
    text-decoration:none;

  }
  .symbolLink:hover{
    color:grey;
    text-decoration:none;
  }

  .assetSearchBox{
      padding:10px;
  }

  .assetSubmit{
    color:black; 
    background-color: grey; 
    border-radius: 10px;
    font-size: 16px;
  }