<h3> Click below to purchase food for your animal: </h3>

<table>
  <tr>
    <td><img src="assets/images/grass.PNG"></td>
    <td><img src="assets/images/fish.PNG"></td>
    <td><img src="assets/images/money.PNG"></td>
  </tr>
  <tr>
    <td><h5>Grass, only the finest.</h5></td>
    <td><h5>Fish, caught fresh!</h5></td>
    <td><h5>Pure cash?! If you can afford it..</h5></td>
  </tr>
  <tr>
    <td><button  class="btn btn-primary"  type="submit" (click)="feedAnimal(-10)">$10</button></td>
    <td><button  class="btn btn-primary"  type="submit" (click)="feedAnimal(-50)">$50</button></td>
    <td><button  class="btn btn-primary"  type="submit" (click)="feedAnimal(-1000)">$1000</button></td>
  </tr>
</table>
