.mat-form-field{
  width:75% !important;
  font-size: 10px;
}

.currency-card {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#center-text-trick {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

.about_section {
  font-size: 16px;
  line-height: 16px;
  height: 64px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
