.mat-form-field{
  width:75% !important;
  font-size: 10px;
}


.stock-card {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#center-text-trick {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}
