<h3 class="about_header">About BullMarket</h3>
<hr>
<p>BullMarket is  a simulation game which is played over the long-term. The game
  involves moderate effort to set up and minimal effort to maintain. At the start, a user will create an
  account with their email address, select a bull/bear pet, and make initial investments by purchasing stocks,
  bonds, real estate, currency, or commodities.
  Over time, the prices of these virtual assets will change in a way that matches or approximates their
  value changes in the real world. For example, stock prices will update at the end of each trading day, and
  national interest rates will update each quarter.
  After log-in, a user will have the option to check their portfolio, feed their animal, buy additional assets,
  or sell assets.</p>

<h3 class="software_header"> Software </h3>
<hr>
<p>
  This project was developed using the "MEAN" stack.</p>
  <ul>
  <li>M: Mongo DB</li>
  <li>E: Express</li>
  <li>A: Angular</li>
  <li>N: NodeJS</li>
</ul>
<p>
  MongoDB is a NoSQL database with Documents (Tables) and Collections (Schemas) which are built to
  suit the specific usage needs for the application. For example, the asset collections are built to mirror
  the table display and the user collection is built to suit the use-case of buying, selling, and displaying
  assets within a portfolio.
  Express and Node are used for the backend which includes communication with the
  database, business logic, and other functionality.
  The front-end development, routing, and data modeling is handled by Angular using the Angular
  standard structure.
  The app is deployed using AWS Elastic Beanstalk.
  For API/data, this project is using stock and commodity data from marketstack.com with permission, it is
  using forex data from freeforexapi.com with attribution, real estate data from numbeo.com with
  attribution, and public domain information for bond rates, inflation rates, and country characteristics. In
  addition, some corporate information will be pulled from annual corporate reports which are publicly
  available.
  <br>
  The GitHub repository is linked here: <a href="https://github.com/RichJ1129/angular-bullmarket">https://github.com/RichJ1129/angular-bullmarket</a></p>

<h3 class="sources_header"> Sources</h3>
<hr>
<ul>
  <li><a href="https://mimustudio.com/">MIMU Studios (Artwork)</a></li>
  <li><a href="http://numbeo.com/">Numbeo.com (Real Estate)</a></li>
  <li><a href="https://www.freeforexapi.com/">FreeForexAPI (Currency Exchange Rates)</a></li>
  <li><a href="https://marketstack.com/">MarketStack (Stock, Commodity Prices)</a></li>
  <li><a href="https://tradingeconomics.com/">TradingEconomics (Bond Prices)</a></li>
  <li><a href="https://www.wikipedia.org/">Wikipedia (Corporate & Country Information)</a></li>
</ul>


