<app-profile-animal></app-profile-animal>

<div align="center">
  <button class="buttons" mat-raised-button type="submit" (click)="showSelector()">Customize Animal</button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button class="buttons" mat-raised-button  type="submit" (click)="showFeed()">Feed Animal</button>
  &nbsp;&nbsp;&nbsp; &nbsp;
</div>
&nbsp;
<div align="center" [hidden]="!isSelectorVisible">
  <app-profile-animalSelector></app-profile-animalSelector>
</div>
&nbsp;
<div  align="center" [hidden]="!isFeedVisible">
  <app-profile-feedAnimal></app-profile-feedAnimal>
</div>
