<div class="container">
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="animal">
        <img *ngIf="animalDecider == 'Bull'" src="/assets/images/no_background_bull.PNG"
             class="img-fluid" routerLink="/profile">
        <img *ngIf="animalDecider == 'Bear'" src="/assets/images/no_background_bear.PNG"
             class="img-fluid" routerLink="/profile">
        <h6 align="center">{{animalName}} {{animalDecider}}</h6>
      </div>
      <div>
        <app-investmentboxhome></app-investmentboxhome>
      </div>
    </div>
    <div class="col-8">
      <dx-vector-map
        id="vector-map"
        (onClick)="onClick($event)"
        [bounds]="[-180, 85, 180, -60]">
        <dxo-tooltip
          [enabled]="true"
          [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        <dxi-layer
          name="areas"
          [palette]="['#B1BFD8','#202020']"
          colorGroupingField="gdp"
          [colorGroups]="[0, 10, 100, 1000, 10000, 100000, 1000000, 10000000, 100000000]"
          [dataSource]="worldMap"
          [customize]="customizeLayers" id="my_country"></dxi-layer>
      </dx-vector-map>
    </div>
  </div>

</div>



