<div class="container">
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="animal">
        <img src="https://elasticbeanstalk-us-west-2-380431846943.s3-us-west-2.amazonaws.com/benjaminBull2.png" alt="benjaminbull" class="img-fluid">
      </div>
      <div>
        <form class="assetSearch" style="background-color: black;color:white">
          <div class="assetSearchBox"><input type="text" id="asset" value="Symbol"><input class="assetSubmit" type="submit" value="Lookup"></div>
          <br>
          <p style="text-align:right"><a class="symbolLink" href="#">Symbol</a>
            <a class="symbolLink" href="#">Week</a><br>Price
            <a class="symbolLink" href="#">Month</a><br>Change
            <a class="symbolLink" href="#">Year</a><br>PE:
            <a class="symbolLink" href="#">Max</a><br></p>
          <br>
        </form>
      </div>
    </div>
    <div class="col-8">
      <dx-vector-map
        id="vector-map"
        [bounds]="[-180, 85, 180, -60]">
        <dxo-tooltip
          [enabled]="true"
          [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        <dxi-layer
          name="areas"
          palette="Violet"
          colorGroupingField="gdp"
          [colorGroups]="[0, 0.5, 0.8, 1, 2, 3, 100]"
          [dataSource]="worldMap"
          [customize]="customizeLayers"></dxi-layer>
<!--        <dxi-legend [customizeText]="customizeText">-->
<!--          <dxo-source layer="areas" grouping="color"></dxo-source>-->
<!--        </dxi-legend>-->
      </dx-vector-map>
    </div>
  </div>

</div>

<!-- /Start your project here-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>

<!-- MDB Vector Map files -->
<script src="/js/addons/mdb-vector-map.js"></script>
<script src="/js/addons/mdb-vector-map.min.js"></script>
<script src="/js/addons/maps/world/world_mill.js"></script>


