<div class="container">
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="animal">
        <img *ngIf="animalDecider == 'Bull'" src="https://elasticbeanstalk-us-west-2-380431846943.s3-us-west-2.amazonaws.com/benjaminBull2.png"
             class="img-fluid" routerLink="/profile">
        <img *ngIf="animalDecider == 'Bear'" src="https://elasticbeanstalk-us-east-2-020439737471.s3.us-east-2.amazonaws.com/buckaroobear.png"
             class="img-fluid" routerLink="/profile">
      </div>
      <div>
        <app-investmentboxhome></app-investmentboxhome>
      </div>
    </div>
    <div class="col-8">
      <dx-vector-map
        id="vector-map"
        (onClick)="onClick($event)"
        [bounds]="[-180, 85, 180, -60]">
        <dxo-tooltip
          [enabled]="true"
          [customizeTooltip]="customizeTooltip"></dxo-tooltip>
        <dxi-layer
          name="areas"
          [palette]="['#B1BFD8','#202020']"
          colorGroupingField="gdp"
          [colorGroups]="[0, 10, 100, 1000, 10000, 100000, 1000000, 10000000, 100000000]"
          [dataSource]="worldMap"
          [customize]="customizeLayers" id="my_country"></dxi-layer>
        <!--        <dxi-legend [customizeText]="customizeText">-->
        <!--          <dxo-source layer="areas" grouping="color"></dxo-source>-->
        <!--        </dxi-legend>-->
      </dx-vector-map>
    </div>
  </div>

</div>

<!-- /Start your project here-->

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/js/mdb.min.js"></script>

<!-- MDB Vector Map files -->
<script src="/js/addons/mdb-vector-map.js"></script>
<script src="/js/addons/mdb-vector-map.min.js"></script>
<script src="/js/addons/maps/world/world_mill.js"></script>


