.mat-form-field{
  width:75% !important;
  font-size: 10px;
}

.commodity-card {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

#center-text-trick {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
}

.about_section {
  font-size: 16px;
  line-height: 16px;
  height: 64px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}
